body {
  font-family: sans-serif;
  background-color: #84b6f4;
}

/* colors */

.bg-primary {
  background-color: #5086c1 !important;
}

.bg-secondary {
  background-color: #6a9eda !important;
}

.bg-terciary {
  background-color: #dcffff !important;
}

.button-link {
  color: white;
  text-decoration: none;
}

/* navbar */

.navbar {
  height: 5rem;
}

.nav-pills .nav-link {
  color: black;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  padding-left: 1.5rem;
}

/* header */

.card-text-final {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 6px;
}

.card {
  border: none;
}

.card-header {
  border: none;
  font-size: 1.3rem !important;
  background-color: #84b6f4 !important;
}

.container-fluid {
  display: flex;
  justify-content: center;
  background-color: #84b6f4;
}

.container-card {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  max-width: 1140px;
}

.img-fluid {
  height: 250px;
  width: 100%;
  vertical-align: bottom;
  background-color: #5086c1;
}

/* card */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: contents;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.card-body-proyect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title-proyect {
  height: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}
.card-text-proyect {
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 6px;
}

/* proyectos */

.text-decoration-underline {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5086c1;
  text-underline-offset: 0.3em;
  text-decoration-color: #5086c1 !important;
  font-weight: bold;
  margin-bottom: 6px;
}

/* .card-final {
  width: 100%;
} */

.col-project {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25rem;
  padding: 20px;
  border: 2px solid #5086c1;
  border-radius: 12px;
  background-color: gainsboro;
}

.card-img-bottom {
  height: 17rem;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-bottom: 6px;
}

.card-title-h4 {
  font-size: 1rem;
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-color: #5086c1 !important;
  color: #5086c1;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-title-h3 {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.card-title-h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-body-final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  align-items: center;
  margin-bottom: 10px;
}

.card-title-final {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #5086c1;
  margin-bottom: 10px;
  margin-top: 10px;
}

.title-final {
  font-size: 1.2rem;
}

.card-text-formacion {
  font-size: 1rem;
  line-height: 1.3rem;
}

.card-text-final {
  display: flex !important;
  justify-content: center !important;
  padding: 0 1rem 0 1rem;
}

.link-proyect {
  display: flex !important;
  justify-content: center;
  margin-bottom: 10px;
}

/* footer */

.card {
  background-color: #84b6f4 !important;
}

.icon {
  height: 2rem;
  margin-right: 1rem;
}

.text-start {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  display: none;
}

.container-footer {
  background-color: #e0ffff !important;
}

.card-body-footer {
  background-color: #e0ffff !important;
}

.header-footer {
  background-color: #0d6efd !important;
}

@media (min-width: 576px) {
  .col-project {
    width: 20rem;
    margin: 0.25rem;
  }

  /* navbar */
  .navbar-light .navbar-brand {
    font-size: 1rem;
  }

  /* header */

  .card-img-bottom {
    height: 17rem;
    width: 80%;
  }

  .img-fluid {
    height: 300px;
  }

  .card-header {
    font-size: 1.5rem !important;
  }

  .card-text-proyect {
    height: 13rem;
  }

  .card-title-proyect {
    height: 1.7rem;
  }

  .row {
    align-items: normal;
  }

  /* proyectos */

  .card-text-final {
    width: 80%;
  }

  /* footer */

  .header-footer {
    font-size: 1.8rem;
  }

  .text-footer {
    font-size: 1.1rem;
  }

  .text-start {
    font-size: 1.1rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* navbar */

  .navbar {
    height: 6rem;
  }
  .link {
    display: block;
  }

  .navbar-light .navbar-brand {
    font-size: 1.2rem;
  }

  /* header */
  .card-text-final {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  .img-fluid {
    height: 350px;
  }

  .card-img-bottom {
    height: 17rem;
    width: 70%;
  }

  /* card */

  /* .row {
    align-items: normal;
  } */

  .col-project {
    width: 21rem;
  }

  .card-title-proyect {
    height: 2.1rem;
  }

  /* .card-body-proyect {
    height: 24rem;
  } */

  .card-text-proyect {
    height: 13rem;
  }

  /* proyectos */
  .card-text-final {
    width: 70%;
  }

  /* footer */
  .text-footer {
    font-size: 1.4rem;
  }

  .container-card {
    max-width: none;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* navbar */

  .navbar {
    height: 5rem;
  }

  /* header */
  .card-img-bottom {
    height: 19rem;
    width: 50%;
  }

  /* card */

  .col-project {
    width: 21rem;
  }

  /* .row {
    align-items: normal;
  } */

  .card-title-proyect {
    height: 2rem;
  }

  /* .card-body-proyect {
    height: 17rem;
  } */

  .card-text-proyect {
    height: 13rem;
  }

  /* proyectos */
  .card-text-final {
    width: 50%;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .col-project {
    width: 23rem;
    margin-left: 5px;
    margin-right: 5px;
  }

  /* header */
  .card-text-final {
    font-size: 1.6rem;
    line-height: 1.7rem;
    margin-bottom: 10px;
  }

  /* card */

  .card-title-proyect {
    font-size: 1.5rem;
    height: 2.5rem;
  }
  /* .card-body-proyect {
    height: 29rem;
  } */

  .card-text-proyect {
    font-size: 1.3rem;
    height: 21rem;
    line-height: 1.9rem;
  }

  .text-decoration-underline {
    font-size: 2rem;
  }

  /* proyectos */
  .card-text-final {
    width: 45%;
  }
  .card-title-final {
    height: 2.4rem;
    font-size: 2.2rem;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* header */
  .card-img-bottom {
    height: 19rem;
    width: 40%;
  }

  /* proyectos */
  .card-text-final {
    width: 40%;
  }
}
