/* Estilo para elementos colapsados */
.collapse:not(.show) {
  display: none;
}

/* Transiciones para colapsar */
.collapsing {
  height: 0;
  overflow: hidden;
  /* Aquí puedes definir las transiciones si las necesitas */
  /* transition: ...; */
}
body {
  font-family: sans-serif;
  background-color: #e0ffff;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  /* display: flex; */
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * 0);
  margin-left: calc(var(--bs-gutter-x) * 0);
}

/* navbar */

.nav-pills .nav-link {
  color: black;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  padding-left: 1.5rem;
}

.bg-light {
  background-color: #87cefa !important;
}

/* header */

.card {
  border: none;
}

.card-header {
  border: none;

  background-color: #e0ffff !important;
}

.container-fluid {
  display: flex;
  justify-content: center;
  background-color: #e0ffff;
}

/* card */

.bg-dark {
  background-color: #212529e0 !important;
}

.mb-2 {
  margin-bottom: 0px !important;
}

h4 {
  font-size: 28px;
  margin-bottom: 10px;
}

.bg-info {
  background-color: #e0ffff !important;
}

.text-decoration-underline {
  text-underline-offset: 0.3em;
  text-decoration-color: #dc3545 !important;
  margin-bottom: 12px;
}

.border-danger {
  border-color: #5086c1 !important;
}

.text-center {
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  font-size: 40px;
  background-color: #e0ffff;
}

.card-text {
  display: flex;
  justify-content: center;
  margin-bottom: 15px !important;
  font-size: 1.7rem;
  line-height: 1.9rem;
}

.text-white {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.4rem;
}

.element.style {
  max-width: 0px;
}

/* proyectos */

.card-title {
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  font-size: 40px;
  background-color: #e0ffff;
}

.gap-1 {
  display: flex !important;
  justify-content: space-around;
}

.btn-primary {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
/* proyecto final */
.card-img,
.card-img-bottom,
.card-img-top {
  height: 60rem;
  width: 100%;
}

.card-title {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  font-size: 40px;
  background-color: #e0ffff;
}

/* footer */
.container-footer {
  width: 100%;
}

.text-start {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.card-header-footer {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  background-color: #87cefa;
}

.btn {
  margin-top: 10px;
}

.icon {
  height: 2.5rem;
  margin-right: 1rem;
}

.card-final {
  width: 100%;
}

.card-body-final {
  width: 100%;
  background-color: #87cefa;
  text-align: left;
}

.card-title-final {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 6px;
  font-size: 1.4rem;
}

.img-fluid {
  height: 350px;
  width: 100%;
}

.card-text-final {
  display: flex;
  justify-content: center;
}

.card-header-final {
  display: flex;
  justify-content: center;
  background-color: #e0ffff;
}
.card-title-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #87cefa;
  margin-bottom: 6px;
  font-size: 1.4rem;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #87cefa;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */

@media (min-width: 250px) {
  .sticky-top {
    width: 100%;
  }

  .container,
  .container-sm {
    width: 24.5rem;
  }

  .card-text {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }

  .text-decoration-underline {
    font-size: 1.5rem;
    text-underline-offset: 0.22em;
    margin-bottom: 12px;
  }

  h4 {
    font-size: 1.4rem;
  }

  .text-white {
    font-size: 1.4rem;
  }

  .text-center {
    font-size: 1.4rem;
  }

  .card {
    width: 21.5rem;
  }

  .card-header-footer {
    font-size: 1.4rem;
  }

  .card-title {
    width: 23rem;
    margin-bottom: 6px;
    font-size: 1.4rem;
  }

  .card-body {
    width: 23rem;

    text-align: left;
  }

  .card-final {
    width: 100%;
  }

  .card-body-final {
    width: 100%;

    text-align: left;
  }

  .card-title-final {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 6px;
    font-size: 1.4rem;
  }

  .img-fluid {
    height: 350px;
    width: 100%;
  }

  .card-text-final {
    display: flex;
    justify-content: center;
  }

  .card-header-final {
    display: flex;
    justify-content: center;
  }

  .card-body-footer {
    display: flex;
    justify-content: center;
  }
}

.card-img,
.card-img-bottom,
.card-img-top {
  height: 30rem;
  width: 100%;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    width: 25rem;
  }

  .card-text {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .text-decoration-underline {
    font-size: 1.7rem;
    text-underline-offset: 0.26em;
    margin-bottom: 12px;
  }

  h4 {
    font-size: 1.4rem;
  }

  .text-white {
    font-size: 1.4rem;
  }

  .text-center {
    font-size: 1.4rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container,
  .container-sm {
    width: 30rem;
  }

  .card-text {
    font-size: 1.7rem;
    line-height: 1.5rem;
  }

  .text-decoration-underline {
    font-size: 2.1rem;
    text-underline-offset: 0.26em;
    margin-bottom: 12px;
  }

  h4 {
    font-size: 1.7rem;
  }

  .text-white {
    font-size: 1.7rem;
  }

  .text-center {
    font-size: 1.7rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container,
  .container-sm {
    width: 100%;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container,
  .container-sm {
    width: 100%;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container,
  .container-sm {
    width: 100%;
  }
}
